
p {
  font-family: 'Raleway';
  color: rgba(28,54,83,0.6);
  font-size: 1.5rem;
}
footer p {
  font-size: 1rem;
}
a {
  color: #2a3e45;
}
a:hover{
  color: #2a3e45;
}
.font-ubuntu {
  font-family: 'Ubuntu';
  color: #2a3e45;
}
.hero {
  min-height: 750px;
  background-image: url("../images/ParkerSnowshoeing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 40px;
}
.bg-grey {
  background-color:#2a3e45;
}
.bg-grey a {
  color: white;
}
section.container {
  color: #2a3e45;
}
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
  visibility: hidden
}
.fadeIn {
  visibility: visible
}