html, body {
  max-width: 100%;
  overflow-x: hidden;
}
p {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  color: rgba(28,54,83,0.6);
  font-size: 1.2rem;
}
footer p {
  font-size: 1rem;
}
a {
  color: #2a3e45;
  font-family: 'Raleway', 'Open Sans', sans-serif;
}
a:hover{
  color: #2a3e45;
}
h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu','Open Sans', sans-serif;
  color: #2a3e45;
}
.hero {
  min-height: 600px;
  background-image: url("../images/ParkerSnowshoeing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  object-fit: contain;
  /* height: 100vh;
  width: 100vh; */

  /* position: fixed;
  top: 0;
  left: 0; */
  min-width: 100%;
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@supports (-webkit-overflow-scrolling: touch) {
  .hero{
    background-attachment: scroll;
  }
}
.hero .scroll-down {
  height: 80px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 5%;
  background-color: #2a3e45;
  text-align: center;
  z-index: 6;
  margin-bottom: 0px;
}
.scroll-down .fas {
  padding-top: 40px;
}
#nav {
  margin-left: auto;
  margin-right: auto;
  /* width: 10%; */
  min-height: 80px;
  background-color: #2a3e45;
}
#profile {
  padding-top: 2rem;
}
.icon {
  font-size: 40px;
}
.bg-grey {
  background-color:#2a3e45;
}
.text-white{
  color: white;
}
section.container {
  color: #2a3e45;
}
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9, .wp-footer, .wp-social-icons, .wp-brand-icons {
  visibility: hidden
}
.fadeIn, .fadeInLeft, .fadeInRight, .bounceInUp {
  visibility: visible
}
@media (max-width: 990px) {
  .hero .scroll-down {
    width: 100%;
    left: 0px;
  }
  #nav {
    width: 20%
  }
  .w-fit {
    width: 20%; 
  }
}
.navbar-toggler {
  width: 100%;
  display: flex;
  justify-content: center;
}
.experience.row {
  border-bottom: solid;
  border-color: white;
  border-width: thin;
  margin-bottom: 1rem;
}
.education.row {
  border-bottom: solid;
  border-color: #2a3e45;
  border-width: thin;
  margin-bottom: 1rem;
}
.no-bottom-border {
  border-bottom: none !important;
};
.navbar-toggler-icon i {
  border-width: thin;
  border-radius: .1rem;
  border-color: white;
}
#nav a:hover {
  color: white;
  border-bottom: solid;
  border-width: thin;
}
.nav-link {
  font-size: 1.5rem;
  color: white;
  border-bottom: none;
}
@media (min-width: 992px)
  {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
  }
}
.mx-a {
  margin-left: auto;
  margin-right: auto;
}
button:focus {
  outline: none;
}
button.navbar-toggler [aria-expanded="true"] {
  left: unset;
  right: unset;
  width: 100%;
}
.w-100 {
  width: 100%;
}
.w-fit {
  width: 10%; 
}
.w-ease {
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}
.btn:focus {
  box-shadow: none;
}

.icon-bar {
	width: 22px; 
	height: 2px;
  background-color: rgba(28,54,83,0.6);
	display: block;
	transition: all 0.2s;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}
.icon-bar-white {
  background-color: #fff !important;
}
.navbar-toggler {
  border: none;
  display: block;
  background: transparent !important;
}

.navbar-toggler .top-bar, .icon-button .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar, .icon-button .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar, .icon-button .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar, .icon-button.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar, .icon-button.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar, .icon-button.collapsed .bottom-bar {
  transform: rotate(0);
}
.font-amatic {
  font-family: 'Amatic SC', cursive;
}
#parks-and-wils-logo {
  height: 32px;
}