html, body {
  max-width: 100%;
  overflow-x: hidden;
}
p {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  color: rgba(28,54,83,0.6);
  font-size: 1.2rem;
}
footer p {
  font-size: 1rem;
}
a {
  color: #2a3e45;
}
a:hover{
  color: #2a3e45;
}
h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu','Open Sans', sans-serif;
  color: #2a3e45;
}
.hero {
  min-height: 600px;
  background-image: url("../images/ParkerSnowshoeing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .scroll-down {
  height: 80px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 5%;
  background-color: #2a3e45;
  text-align: center;
  z-index: 6;
  margin-bottom: 0px;
}
.scroll-down .fas {
  padding-top: 40px;
}
.icon {
  font-size: 40px;
}
.bg-grey {
  background-color:#2a3e45;
}
.text-white{
  color: white;
}
section.container {
  color: #2a3e45;
}
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
  visibility: hidden
}
.fadeIn {
  visibility: visible
}
@media (max-width: 767px) {
  .hero .scroll-down {
    width: 100%;
    left: 0px;
}}
